
.chartNavBar{
    background-color: transparent!important;
}

.chart{
    /* height: auto !important; */

}

@media (max-width:1000px){
    .chart{
        min-height: 150px;
        min-width: 35vw;
    }
}
